<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MovieHunter</title>
  <link rel="icon" href="../static/img/icons8-movie-48.png" type="image/icon type">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <section id="top">
    <div class="container">
        <div class="row top_1">
            <div class="col-md-3">
                <div class="top_1l pt-1">
                    <h3 class="mb-0"><a class="text-white" href="/dashboard"><i class="fa fa-video-camera col_red me-1"></i> MovieHunter</a></h3>
                </div>
            </div>
            <div class="col-md-5">
                <div class="top_1m">

                    <form action="/search" method="post" class="input-group">
                        <label for="movie_name"></label>
                        <input type="text" class="form-control bg-black" name="movie_name" placeholder="Search Movie...">
                        <span class="input-group-btn">
                            <input class="btn btn text-white bg_red rounded-0 border-0" type="submit" value="Search">
                        </span>
                    </form>
				
                </div>
            </div>
        </div>
    </div>
</section>

<section id="header">
    <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
        <div class="container">
            <a class="navbar-brand text-white fw-bold" href="/dashboard"><i class="fa fa-video-camera col_red me-1"></i> MovieHunter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/create">+Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/in/theater">in Theaters</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile/{{loggedUser.id}}">Profile</a></li>
                        {% if loggedUser.admin == 1 %}
                            <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</section>

<form  action="/create/movie" method="post" enctype="multipart/form-data">
  <div class="container d-flex mt-4" >
    <div>

    </div>
  
    <div class="w-50 mb-3 m-auto" >
      <div class="d-flex justify-content-around mb-3">
        <label for="poster_pic">Poster picture</label>
        <input type="file" name="poster_pic" class="p-2">
      </div>
      {% with messages = get_flashed_messages(category_filter=["posterImage"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% with messages = get_flashed_messages(category_filter=["postImage"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 

      <div class="d-flex justify-content-around mb-3">
        <label for="title" class="col-2 fs-4">Title</label><br>
        <input type="text" name="title" class="p-2">
      </div>
      {% with messages = get_flashed_messages(category_filter=["movieTitle"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 
      <div class="d-flex justify-content-around mb-3">
        <label for="trailer" class="col-2 fs-4">Trailer</label><br>
        <input type="text" name="trailer" class="p-2">
      </div>
      {% with messages = get_flashed_messages(category_filter=["movieTrailer"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 
      <div class="d-flex justify-content-around mb-3">
        <label for="release_date">Release Date</label><br>
        <input type="date" name="release_date">
      </div>
      {% with messages = get_flashed_messages(category_filter=["movieReleaseDate"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 
      <div class="d-flex justify-content-around mb-3">
        <label for="run_time">Run Time</label><br>
        <input type="text" name="run_time">
      </div>
      {% with messages = get_flashed_messages(category_filter=["movieRunTime"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 
      <div class="d-flex justify-content-around mb-3">
        <label for="rating" class="">Rating (1-5)</label><br>
        <input type="number" name="rating" >
      </div>
      {% with messages = get_flashed_messages(category_filter=["movieRating"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 
      <div class="d-flex justify-content-around mb-3">
        <label for="description" class="">Description</label><br>
        <textarea name="description" id="" cols="30" rows="5"></textarea>
      </div>
      {% with messages = get_flashed_messages(category_filter=["movieDescription"]) %}
      {% if messages %}
      {% for message in messages %}
      <p class="text-danger text-center">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %} 
      <div class="m-auto">
        <input class="btn text-white bg-primary" type="submit" value="Submit">
      </div>
    </div>
    
  </div>
  
</form>
</div> 
  
    
  
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>