<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MovieHunter</title>
	<link rel="icon" href="../static/img/icons8-movie-48.png" type="image/icon type">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!-- TOP -->
	<section id="top">
		<div class="container">
			<div class="row top_1">
				<div class="col-md-3">
					<div class="top_1l pt-1">
						<h3 class="mb-0"><a class="text-white" href="/dashboard"><i
									class="fa fa-video-camera col_red me-1"></i> MovieHunter</a></h3>
					</div>
				</div>
				<div class="col-md-5">
					<div class="top_1m">

						<form action="/search" method="post" class="input-group">
							<label for="movie_name"></label>
							<input type="text" class="form-control bg-black" name="movie_name"
								placeholder="Search Movie...">
							<span class="input-group-btn">
								<input class="btn btn text-white bg_red rounded-0 border-0" type="submit"
									value="Search">
							</span>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
<!-- NAVIGATION -->
	<section id="header">
		<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
			<div class="container">
				<a class="navbar-brand text-white fw-bold" href="/dashboard"><i
						class="fa fa-video-camera col_red me-1"></i> MovieHunter</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mb-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/create">+Create</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/in/theater">in Theaters</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Profile
							</a>
							<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/profile/{{loggedUser.id}}">Profile</a></li>
								{% if loggedUser.admin == 1 %}
								<li><a class="dropdown-item" href="/admin">Admin</a></li>
								{% endif %}
								<li><a class="dropdown-item" href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
		</nav>
	</section>

	<section id="center" class="center_home">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			
			<div class="carousel-inner">

				<div class="carousel-item active">
					<img src="../static/UPLOADED_FOLDER/{{lastMovie.poster_pic}}" class=" d-block image w-100" alt="img2324">
					<div class="carousel-caption d-md-block">
						<h1 class="font_60">{{lastMovie.title}}</h1>
						<h6 class="mt-3">
							Rating: 
							<span class="col_red">
								{% for i in range(lastMovie.rating) %}
								<i class="fa fa-star"></i>
								{% endfor %}
							</span>
							Release Date : {{lastMovie.release_date}}
						</h6>
						<p class="mt-3">{{lastMovie.description}}.</p>
						<p class="mb-2"><span class="col_red me-1 fw-bold">Genres:</span> {{lastMovie.movie_genres}}</p>
						<p><span class="col_red me-1 fw-bold">Runtime:</span> {{lastMovie.run_time}} min</p>
						<h6 class="mt-4"><a class="button" href="/movie/{{lastMovie.id}}"><i class="fa fa-play-circle align-middle me-1"></i>
								Watch Trailer</a></h6>
					</div>
				</div>
				
			</div>
	</section>

	<section id="trend" class="pt-4 pb-5">
		<div class="container">
			<div class="row trend_1">
				<div class="col-md-6 col-6">
					<div class="trend_1l">
						<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Latest <span
								class="col_red">Movies</span></h4>
					</div>
				</div>
				<div class="col-md-6 col-6">
					<div class="trend_1r text-end">
						<h6 class="mb-0"><a class="button" href="/latest/movies"> View All</a></h6>
					</div>
				</div>
			</div>
			<div class="row trend_2 mt-4">
				<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">


					<div class="carousel-inner">

						<div class="carousel-item active">

							<div class="trend_2i row">
								{% for movie in latestMovies %}
								<div class="col-md-3 col-6">

									<div class="trend_2im clearfix position-relative">

										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="/movie/{{movie.id}}"><img
															src="../static/UPLOADED_FOLDER/{{movie.poster_pic}}"
															class="w-100" alt="img2324"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i
														class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="/movie/{{movie.id}}"></a></h5>
										<p class="mb-2">{{movie.title}}.</p>

										<span class="col_red">
											{% for i in range(movie.rating) %}
											<i class="fa fa-star"></i>
											{% endfor %}
										</span>
									</div>
								</div>
								{% endfor %}

							</div>

						</div>
					</div>
				</div>
	</section>

<!-- IN THEATERS MOVIES -->
	<section id="upcome" class="pt-4 pb-5">
		<div class="container">
			<div class="row trend_1">
				<div class="col-md-6 col-6">
					<div class="trend_1l">
						<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> In <span
								class="col_red">Theaters</span></h4>
					</div>
				</div>
				<div class="col-md-6 col-6">
					<div class="trend_1r text-end">
						<h6 class="mb-0"><a class="button" href="/in/theater"> View All</a></h6>
					</div>
				</div>
			</div>
			<div class="row trend_2 mt-4">
				<div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="trend_2i row">

								{% for movie in theaterMovies %}
								<div class="col-md-3 col-6">

									<div class="trend_2im clearfix position-relative">

										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="/movie/{{movie.id}}"><img
															src="../static/UPLOADED_FOLDER/{{movie.poster_pic}}"
															class="w-100" alt="img2324"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i
														class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="/movie/{{movie.id}}"></a></h5>
										<p class="mb-2">{{movie.title}}.</p>

										<span class="col_red">
											{% for i in range(movie.rating) %}
											<i class="fa fa-star"></i>
											{% endfor %}
										</span>
										
									</div>
								</div>
								{% endfor %}
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>





<!-- FOOTER -->
	<section id="footer_b" class="pt-3 pb-3 bg_grey">
		<div class="container">
			<div class="row footer_1">
				<div class="col-md-8">
					<div class="footer_1l">
						<p class="mb-0">© MovieHunter. All Rights Reserved </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer_1r">
						<ul class="mb-0">
							<li class="d-inline-block me-2"><a href="/dashboard">Home</a></li>
							<li class="d-inline-block me-2"><a href="/in/theaters">In Theaters</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		window.onscroll = function () { myFunction() };

		var navbar_sticky = document.getElementById("navbar_sticky");
		var sticky = navbar_sticky.offsetTop;
		var navbar_height = document.querySelector('.navbar').offsetHeight;

		function myFunction() {
			if (window.pageYOffset >= sticky + navbar_height) {
				navbar_sticky.classList.add("sticky")
				document.body.style.paddingTop = navbar_height + 'px';
			} else {
				navbar_sticky.classList.remove("sticky");
				document.body.style.paddingTop = '0'
			}
		}
	</script>

	<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>