.movie_in_theatre img{ 
    margin-top: 20px;
    height: auto;

}
.movie_in_theatre {
    margin: auto;
    width: 80%;
    align-items: center;
    border: 5px solid blanchedalmond;
    border-radius: 20%;
    padding: 30px;
    margin-top: 20px;
}

img{
    width: 150px;
    height: auto;
}

.abc{
    display: inline;
    align-items: flex-end;
    align-items: center;
    border: 5px solid blanchedalmond;
    padding: 30px;


}